<div class="container-fluid" ng-controller="HomeController as vm">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.pessoaFisicaPage()"><i
                                class="fa fa-user-circle fa-5x"></i><br><br>Cliente</button>
                        </div>

                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.pessoaJuridicaPage()"><i
                                class="fa fa-briefcase fa-5x"></i><br><br>Empresa</button>
                        </div>

                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.servicoPage()"><i
                                class="fa fa-wrench fa-5x"></i><br><br>Serviços</button>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-sm-4 mb-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.agendamentosPage()"><i
                                class="fa fa-calendar fa-5x"></i><br><br>Agenda</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>